/* the css code here*/

body {
    text-align: center;
    background-size:100%;

}
.tablestyle{
    text-align: center;
    width:100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #C5CAE9;
}
tr:nth-child(odd) {
    background-color: white;
}
h1,h2 {
    font-size:160%;
}

h3 {
    border:2px solid #7986CB;
    font-size:135%;
}
p {
    font-size:120%;
}
.Pink {
   color: #993366;
   font-size:120%;
}
#id1{
    color: #600080;
}


